@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Kufam:ital,wght@0,400..900;1,400..900&family=Montserrat:wght@100..900&display=swap');

:root {
    --montserrat: "Montserrat", sans-serif;
    --krona: "Krona One", sans-serif;
    --kufam: "Kufam", sans-serif;
}

body {
    margin: 0;
  padding: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

.l-block-1 {
    height: 100%;
    width: 96%;
    margin-bottom: 12.5vw;
}

.hero-lustry {
  width: 100%;
  padding-left: 2.13vw;
}

.title-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-line h1 {
    text-transform: uppercase;
    width: 55vw;
    font-family: var(--montserrat);
    font-size: 3.44vw;
    color: #000000;
    font-weight: 500;
    margin-bottom: 0vw;
}

.hero-line {
    margin-top: 6.5vw;
    width: 37vw;
    height: 1px;
    background-color: #D7D7D7;
}

.podzag-lustry {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.podzag-lustry p {
    line-height: 148%;
    font-size: 0.88vw;
    font-family: var(--montserrat);
    width: 23vw;
    margin-bottom: 1.3vw;
}


.knopki {
  justify-content: flex-end;
  padding-top: 1vw;
  padding-right: 11.88vw;
}

.merge-btn-container {
  position: relative;
  display: inline-flex;
  justify-content: flex-end; 
  border-radius: 3vw;
  overflow: hidden;
  gap: 0.44vw;
}

.icon-part-tw {
  width: 0.625vw;
  height: 0.625vw;
}

.icon-part,
.text-part {
  align-items:center;
  position: relative;
  z-index: 1;
}

.icon-part {
  width: 0.563vw;
  display: flex;
  background: #000000;
  border-radius: 50%;
  padding: 0.2vw 0.5vw;
  margin-right: 0.2vw;
}

.icon-part .arrow-tw {
  position: absolute;
  width: 0.625vw;
  height: 0.625vw;

  transition:
    transform 0.9s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.3s ease;
}

.icon-part .arrow-1tw {
  transform: translate(0, 0);
  opacity: 1;
}

.icon-part .arrow-2tw {
  transform: translate(-120%, 120%);
  opacity: 0;
}

.merge-btn-container:hover .icon-part .arrow-1tw {
  transform: translate(120%, -120%);
  opacity: 0;
}

.merge-btn-container:hover .icon-part .arrow-2tw {
  transform: translate(0, 0);
  opacity: 1;
}

.text-part {
    height: 1.563vw;
  text-decoration: none;
  margin: 0;
  align-items: center;
  font-family: var(--krona);
  font-size: 0.875vw;
  color: #FFFFFF;
  line-height: 113.9%;
  letter-spacing: 0%;
  font-weight: 400;
  background-color: #000000;
  padding: 0.25vw 0.875vw;
  border-radius: 2vw;
  box-sizing: border-box;
}

/* Псевдоэлемент для анимации фона */
.merge-btn-container::before {
  margin: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 0; 
  width: 15vw; 
  height: 100%;
  background: linear-gradient(
    to right, 
    #000000 0%,    /* Цвет фона частей */
    #000000 50%,
    transparent 50%,
    transparent 100%
  );
  z-index: 0;
    transition: transform 0.4s ease-out;
  transform: translateX(-20%);
}

.merge-btn-container:hover::before {
    opacity: 1;
  transform: translateX(0);
}

.lustry-overlay {
    width: 100%;
    position: relative;
    height: 42.4vw;
}

.img-lustry-1 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.lustry-overlay p {
    width: 100%;
    position: absolute;
    font-family: var(--montserrat);
    font-size: 6vw;
    color: #DADADA;
    padding-top: 1vw;
    margin: 0;
    font-weight: 600;
}

.running-line {
  position: absolute;
  top: 62vw; 
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2; 
  pointer-events: none;
}

.running-inner {
  display: flex;
  white-space: nowrap;
  width: max-content;
  will-change: transform;
}

.running-line span {
  font-family: var(--montserrat);
  font-size: 6vw;
  font-weight: 500;
  padding-right: 4vw;
  color: #F4F4F4;
  letter-spacing: 0%;
}

.l-block-2 {
  width: 96%;
  height: 100%;
  padding-left: 2.13vw;
  margin-bottom: 6.56vw;
}

.lustry-cat-1 {
    display: flex;
    justify-content: space-between;
    height: 6vw;
}

.zag-action {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-left: 38vw;
  margin-bottom: 9vw;
}

.zag-action-1 {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-top: 1.5vw;
}

.zag-bl2-wrap {
  width: 1.6vw;
  height: 1.6vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5vw;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #2D2D2D;
  border-radius: 50%;
  z-index: 2;
  position: relative;
   overflow: hidden;
}

.zag-bl2-wrap .arrow {
  position: absolute;
  width: 0.5vw;
  height: auto;
  transition:
    transform 0.9s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.3s ease;
}

.arrow-1 {
  transform: translate(0, 0);
  opacity: 1;
}

.arrow-2 {
  transform: translate(-120%, 120%);
  opacity: 0;
}

.zag-action:hover .arrow-1 {
  transform: translate(120%, -120%);
  opacity: 0;
}

.zag-action:hover .arrow-2 {
  transform: translate(0, 0);
  opacity: 1;
}

.zag-action-1:hover .arrow-1 {
  transform: translate(120%, -120%);
  opacity: 0;
}

.zag-action-1:hover .arrow-2 {
  transform: translate(0, 0);
  opacity: 1;
}

.zag-text-wrap {
  display: inline-flex;
  position: absolute;
  right: calc(100% - 0.8vw); 
  overflow: hidden;
  white-space: nowrap;
}

.zag-text {
  height: 1.6vw;
  box-sizing: border-box;
  display: inline-block;
  padding: 0.25vw 1.7vw 0.25vw 0.7vw;
  background: #FFFFFF;
  border: 1px solid #2D2D2D;
  border-radius: 2vw 0 0 2vw;
  font-family: var(--montserrat);
  font-size: 0.875vw;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 114.2%;
  color: #020202;
  transform: translateX(100%);
  transition: transform 0.9s cubic-bezier(0.22, 1, 0.36, 1);
}

.zag-action:hover .zag-text {
  transform: translateX(0);
}

.zag-action-1:hover .zag-text {
  transform: translateX(0);
}

.lustry-cat-1 h1 {
    font-family: var(--montserrat);
    font-size: 3vw;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #020202;
    margin: 0;
    margin-top: 1.5vw;
}

.knopka-cat-l {
    display: flex;
    align-items: center;
    padding-top: 1.9vw;
    gap: 0.8vw;
}

.knopka-cat-l p {
    font-family: var(--montserrat);
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #020202;
}

.wrap-strelka-1 {
    display: flex;
    border: 1px solid #000000;
    border-radius: 2vw;
    padding: 0.382vw 0.382vw;
}

.strelka-c-1 {
    width: 0.8vw;
    height: 0.8vw;
}

.l-block-2-line {
    margin-top: 0.5vw;
    margin-bottom: 2.06vw;
    width: 100%;
    height: 1px;
    background-color: #D7D7D7;
    position: relative;
    overflow: visible;
}

.l-block-2-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: var(--line-x, 50%);
  width: var(--line-w, 0);
  height: 1px;
  background-color: #000;
  transform: translateX(-50%);

  opacity: 0;

  /* по умолчанию — только fade */
  transition: opacity 0.35s ease;
}

/* когда линия видна */
.l-block-2-line.is-active::after {
  opacity: 1;
}

/* когда разрешено инерционное движение */
.l-block-2-line.is-moving::after {
  transition:
    opacity 0.35s ease,
    left 0.65s cubic-bezier(0.16, 1, 0.3, 1),
    width 0.65s cubic-bezier(0.16, 1, 0.3, 1);
}

.lustry-foto-c {
    display: flex;
    justify-content: space-between;
}

.foto-l {
    width: 20.56vw;
    height: 26.94vw;
}

.l-nazv {
    font-family: var(--montserrat);
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: -0.03em;
    color: #000000;
    margin-bottom: 0.5vw;
}

.l-price {
    font-family: var(--montserrat);
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: -0.03em;
    color: #CBCBCB;
    margin: 0;
}

.l-block-3 {
    width: 100%;
    height: 100%;
}

.l-block-3 h1 {
    margin-bottom: 1vw;
  margin-left: 2.13vw;
  font-size: 4vw;
  font-family: var(--montserrat);
  font-weight: 600;
  letter-spacing: -0.07em;
  text-transform: uppercase;
}

.l-block-3-line {
    position: relative;
    margin-left: 2.13vw;
    margin-top: 0.5vw;
    margin-bottom: 2.06vw;
    width: 95.7%;
    height: 1px;
    background-color: #D7D7D7;
    overflow: hidden;
}

.l-block-3-line::before,
.l-block-3-line::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%; /* стартовая ширина - половина */
    background-color: black;
    transform-origin: left center; /* точка сжатия/расширения */
    transform: scaleX(0); /* скрыта */
    transition: transform 1s ease;
}

.l-block-3-line::before {
    left: 0;
    transform-origin: left center; /* левая половина будет сжиматься к центру */
}

.l-block-3-line::after {
    right: 0;
    transform-origin: right center; /* правая половина будет сжиматься к центру */
}

.l-block-3-line::before,
.l-block-3-line::after {
  transform: scaleX(var(--h-progress, 0));
    transition: transform 0.25s cubic-bezier(.22,.61,.36,1);
}

.col-l {
    position: relative;
    display: flex;
    margin-bottom: 4vw;
}

.col-l::before,
.col-l2::before {
    content: "";
    position: absolute;
    top: -2.1vw;
    bottom: 6vw;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    background-color: #D7D7D7;
}

.scroll-line {
  position: absolute;
  top: -2.1vw;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  background-color: black;
  height: calc(var(--v-progress, 0) * 87%);
  transition: height 0.25s cubic-bezier(.22,.61,.36,1);
}

.col-l2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vw;
}

.f-col-l {
  width: 47vw;
  height: 29.88vw;
  opacity: 0;
  transform: translateY(2vw);
  transition:
    opacity 1.2s ease,
    transform 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}

.f-col-l.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.text-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 8vw;
}

.knopka-col-l {
    height: 2vw;
    display: flex;
    align-items: center;
    gap: 0.8vw;
    margin-bottom: 8.7vw;
    margin-left: 31vw;
}

.knopka-col-l p {
    font-family: var(--montserrat);
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #020202;
}

.teg-col {
  display: flex;
  width: 5.8vw;
  font-size: 1vw;
  font-family: var(--montserrat);
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 113.9%;
  color: #020202;
  border: 1px solid #000000;
  padding: 0.4vw 0.9vw;
  border-radius: 1.47vw;
  opacity: 0;
  transition: opacity 0.9s ease;
}

.teg-col.is-visible {
  opacity: 1;
}

.text-col h2 {
  font-family: var(--montserrat);
  font-size: 4.69vw;
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 111%;
  color: #000000;
  margin: 0;
  opacity: 0;
  transform: translateY(2.5vw);
  transition:
    opacity 1.1s ease,
    transform 1.1s cubic-bezier(0.16, 1, 0.3, 1);
  transition-delay: 0s;
}

.opis-col-l {
  width: 35vw;
  font-family: var(--montserrat);
  font-size: 1.25vw;
  font-weight: 500;
  line-height: 148%;
  letter-spacing: -0.04em;
  color: #000000;
  opacity: 0;
  transform: translateY(2.5vw);
  transition:
    opacity 1.1s ease,
    transform 1.1s cubic-bezier(0.16, 1, 0.3, 1);
  transition-delay: 0.25s;
}

.text-col h2.is-visible,
.opis-col-l.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.l-block-4 {
    margin-top: 6vw;
}


.running-line-2 {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 2;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}

.running-inner-2 {
  display: flex;
  width: max-content;
  white-space: nowrap;
  will-change: transform;
}

.running-inner-2 a {
  position: relative;
  font-family: var(--montserrat);
  font-size: 2vw;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  margin-right: 3vw;
  padding-bottom: 0.3vw;
  transition: color 0.3s ease;
}

.running-inner-2 a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #000000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.running-inner-2 a:hover::after {
  transform: scaleX(1);
}

.contact-card {
    background-color: #000000;
    width: 72.31vw;
    height: 14.56vw;
    border-radius: 2.06vw;
    margin-left: 14%;
    margin-top: 3vw;
}

.cont-c-header {
    height: 4vw;
    display: flex;
    justify-content: space-between;
    padding-left: 2.94vw;
    padding-right: 0.94vw;
}

.cont-c-header p {
    display: flex;
    align-items: flex-end;
    font-family: var(--montserrat);
    font-size: 1.5vw;
    color: #FFFFFF;
    margin: 0;
}

.cont-icons {
    display: flex;
    align-items: center;
}

.contact-block {
    margin-top: 3.3vw;
    display: flex;
    gap: 6vw;
    padding-left: 2.94vw;
    padding-right: 0.96vw;
}

.contact-item {
    margin-bottom: 1vw;
}

.contact-item a {
    display: flex;
    align-items: center;
    gap: 1vw;
    text-decoration: none;
}

.contact-item span {
    font-family: var(--montserrat);
    font-size: 1.5vw;
    color: #FFFFFF;
    text-decoration: none; 
}

.contact-item p {
    width: 20vw;
    font-family: var(--montserrat);
    font-size: 1vw;
    color: #FFFFFF;
    text-decoration: none; 
    margin: 0;
}

.wrap-strelka-2 {
    display: flex;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 2vw;
    padding: 0.694vw 0.694vw;
    width: 0.8vw;
    margin-left: 12.5vw;
    margin-top: 4vw;
}

.strelka-c-2 {
    width: 0.8vw;
    height: 0.8vw;
}
.wa-img,
.tg-img {
    width: 2.31vw;
    height: 2.31vw;
}

.wa-img {
    padding-right: 0.81vw;
}

.mail-img {
    width: 1.5vw;
    height: 1vw;
}

.tel-img {
    width: 1.5vw;
    height: 1vw;
}

.geo-img {
    width: 1.52vw;
    height: 1.99vw;
}